{% extends 'index.html' %}

 {% block content %}
<form action="/login" method="post">
    <h1 id="title">{{title}}</h1>
    <h1 id="title1">{{title1}}</h1>
    <input id="username" name="username" type="text" placeholder="username" />
    <input id="password" name="password" type="password" placeholder="password" />
    <h5 >{{notice}}</h5>
    <button id="login" type="submit">log in</button>
    <a id="signin" href="/signin">Sign in</a><a id="findUser">Forgot password or ID?</a>`
</form>
  {% endblock %}